.footerPage {
  background-color: #ff990d;
  bottom: 0;
  display: flex;
  height: 58px;
  justify-content: space-between;
  line-height: 58px;
  position: fixed;
  width: 100%;
}

.footerPage img {
  height: 40px;
  width: 40px;
}

.mealIcon {
  margin-right: 15px;
}

.drinkIcon {
  margin-left: 15px;
}
