.header-container {
  align-items: center;
  background-color: #ff990d;
  color: #fafafa;
  display: flex;
  height: 58px;
  justify-content: space-around;
  line-height: 100px;
  position: fixed;
  top: 0;
  width: 360px;
  z-index: 1;
}

.header-container button {
  background: none;
  border: none;
  height: 58px;
  position: relative;
  width: 30px;
}

.header-container button img {
  filter: invert();
  left: -5px;
  position: absolute;
  top: 15px;
}

.search-container {
  background-color: red;
  padding: 10px;
  position: fixed;
  top: 58px;
  width: 360px;
}

.search-type-container {
  align-content: center;
  display: flex;
  justify-content: space-around;
}
