/* stylelint-disable max-line-length */
.profile-container {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.profile-done-btn {
  background-image: url('../images/profileImage01.svg');
  background-position-x: center;
  background-position-y: center;
  border: 1px solid rgb(196, 194, 194);
  border-radius: 6px;
  box-shadow: 1px 5px 4px 2px rgba(0, 0, 0, 0.25);
  color: white;
  font-size: 33px;
  font-style: normal;
  font-weight: 600;
  height: 120px;
  line-height: 42px;
  margin-top: 38px;
  text-shadow: 1px 4px 4px rgba(0, 0, 0, 0.6);
  width: 292px;
}

.profile-favorite-btn {
  background-image: url('../images/profileImage02.svg');
  background-position-x: center;
  background-position-y: center;
  border: 1px solid rgb(196, 194, 194);
  border-radius: 6px;
  box-shadow: 1px 5px 4px 2px rgba(0, 0, 0, 0.25);
  color: white;
  font-size: 33px;
  font-style: normal;
  font-weight: 600;
  height: 120px;
  line-height: 42px;
  margin-top: 16px;
  text-shadow: 1px 4px 4px rgba(0, 0, 0, 0.6);
  width: 292px;
}

.profile-email {
  color: #ff990d;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  margin-top: 96px;
  text-shadow: 1px 4px 4px rgba(0, 0, 0, 0.25);
}

.profile-logout-btn {
  background-color: #ff9f00;
  border: 1px solid rgb(196, 194, 194);
  border-radius: 6px;
  box-shadow: 1px 5px 4px 2px rgba(0, 0, 0, 0.25);
  color: white;
  font-size: 33px;
  font-style: normal;
  font-weight: 600;
  height: 75px;
  margin-top: 38px;
  text-shadow: 1px 4px 4px rgba(0, 0, 0, 0.25);
  width: 292px;
}

.logoutIcon {
  margin-right: 20px;
}
