.titleProgress {
  background: #ffc800;
  mix-blend-mode: normal;
  padding: 10px;
  position: absolute;
  top: 260px;
  width: 360px;
}

.buttonProgress {
  background-color: #ffc800;
  border: 1px;
}

.buttonShareProgress {
  left: 260px;
  mix-blend-mode: normal;
  position: absolute;
  top: 270px;
}

.buttonFavoriteProgress {
  left: 310px;
  mix-blend-mode: normal;
  position: absolute;
  top: 270px;
}

.textCopiedProgress {
  left: 200px;
  mix-blend-mode: normal;
  position: absolute;
  top: 295px;
}

.categoryProgress {
  background-color: #ff990d;
  mix-blend-mode: normal;
  padding: 5px;
  position: absolute;
  text-align: center;
  top: 10px;
  width: 360px;
}

.ingredientsProgress {
  border-bottom: 0.5px solid #e8c493;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
}

.labelProgress {
  font-size: 150%;
  margin-bottom: 1px;
}

/* .ingredientsProgress:hover {
  background-color: #ff990d;
} */

.checkboxProgress {
  cursor: pointer;
  margin-left: 10px;
  position: relative;
}

.checkboxProgress:before {
  background-color: white;
  content: '';
  display: block;
  height: 30px;
  left: -2px;
  position: absolute;
  top: -10px;
  width: 30px;
}

.checkboxProgress:checked:before {
  background-color: white;
  content: '';
  display: block;
  height: 30px;
  left: -2;
  position: absolute;
  top: -10px;
  width: 30px;
}

.checkboxProgress:checked:after {
  border: solid #ff990d;
  border-width: 0 2px 2px 0;
  content: '';
  display: block;
  height: 25px;
  left: 6px;
  position: absolute;
  top: -13px;
  transform: rotate(45deg);
  width: 15px;
}

.instructionsProgress {
  font-size: 130%;
  margin: 5px;
  margin-top: 20px;
}

.finishProgress {
  font-size: 120%;
  margin-bottom: 20px;
  margin-left: 26%;
  margin-top: 20px;
}
